@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
* {
  font-family: "Gilroy-Bold", sans-serif;
  font-family: "Gilroy-Heavy", sans-serif;
  font-family: "Gilroy-Light", sans-serif;
  font-family: "Gilroy-Medium", sans-serif;
  font-family: "Gilroy-Regular", sans-serif;
}

.header {
  background: #101010;
}

.logo img {
  cursor: pointer;
  height: 70px;
  width: auto;
}
.logo img:hover {
  transform: scale(1.1);
}

.navbar-nav a {
  color: #fff;
  margin: 0.7rem;
}

.navbar-nav li a:hover {
  color: #c8c8c8;
  border-bottom: 0.1rem solid #FDC504;
}

.redes a img:hover {
  transform: scale(1.1);
}

.fa-bars {
  color: #fff;
}

.navbar-toggler {
  border: none;
}

.banner {
  width: 100%;
  height: 88vh;
  background-image: url(imagenes/banner\ inicio.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  border-radius: 0;
}
.banner h1 {
  color: #FDC504;
  font-size: 50px;
  padding-bottom: 100px;
  font-family: "Gilroy-Bold", sans-serif;
}

.banner-nosotros {
  background-image: url(imagenes/banner\ nosotros.png);
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 0;
}
.banner-nosotros h2 {
  color: #FDC504;
  font-size: 60px;
  padding-left: 10%;
  padding-top: 7%;
  font-family: "Gilroy-Bold", sans-serif;
}

.informacion h3 {
  font-size: 60px;
  margin-top: 80px;
  display: inline-block;
  position: relative;
}
.informacion h3::after {
  content: "";
  position: absolute;
  width: 420px;
  height: 5px;
  background-color: #FDC504;
  top: 3rem;
  right: -550px;
}
.informacion p {
  font-size: 25px;
  padding-right: 20%;
}

footer {
  background-color: #101010;
}

.logos-footer {
  padding-top: 10px;
}

.logos-footer a img:hover {
  transform: scale(1.1);
}

.li-footer {
  color: #fff;
  font-size: 10px;
  padding-top: 20px;
}

.banner-productos {
  background-image: url(imagenes/banner\ productos.png);
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 0;
}
.banner-productos h2 {
  color: #FDC504;
  font-size: 60px;
  padding-left: 10%;
  padding-top: 7%;
  font-family: "Gilroy-Bold", sans-serif;
}

video {
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-top: 100px;
  padding-bottom: 100px;
}

.tarjetas-productos {
  padding-bottom: 60px;
}

.card-body {
  background-image: url(imagenes/tarjeta\ 1.png);
  height: 210px;
}

.card-title {
  padding-top: 40px;
  color: #FDC504;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body2 {
  background-image: url(imagenes/tarjeta\ 2.png);
  height: 210px;
}

.boton {
  text-align: center;
}

.btn {
  color: #fff;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.titulo h2 {
  font-size: 70px;
  padding-top: 80px;
  padding-bottom: 50px;
  display: inline-block;
  position: relative;
}

.titulo h2::after {
  content: "";
  position: absolute;
  width: 820px;
  height: 5px;
  background-color: #FDC504;
  top: 9rem;
  right: -950px;
}

.fotos img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.cont-texto {
  padding-right: 12%;
}
.cont-texto h4 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
}
.cont-texto p {
  font-size: 25px;
  padding-bottom: 20px;
}
.cont-texto h5 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 25px;
}
.cont-texto h5 img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.vectores {
  padding-top: 60px;
  padding-bottom: 60px;
}

.banner-proyectos {
  background-image: url(imagenes/banner\ proyectos.png);
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 0;
}
.banner-proyectos h2 {
  color: #FDC504;
  font-size: 60px;
  padding-left: 10%;
  padding-top: 7%;
  font-family: "Gilroy-Bold", sans-serif;
}

.tarjetas-productos {
  padding-top: 100px;
}

.card-title3 {
  padding-top: 40px;
  color: #FDC504;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Obras-Generales h2 {
  font-size: 70px;
  padding-top: 80px;
  padding-bottom: 50px;
  display: inline-block;
  position: relative;
}
.Obras-Generales h2::after {
  content: "";
  position: absolute;
  width: 420px;
  height: 5px;
  background-color: #FDC504;
  top: 9rem;
  right: -550px;
}

.carousel-caption h5 {
  font-size: 20px;
  background-color: #101010;
  border-right: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  text-align: center;
  font-size: 45px;
  font-family: "Gilroy-Bold", sans-serif;
  padding-top: 60px;
  padding-bottom: 20px;
}

.ultimo-carrusel {
  padding-bottom: 15%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: #FDC504;
  border-radius: 50%;
  top: calc(50% - 25px);
}

.carousel-control-prev {
  left: 5%;
}

.carousel-control-next {
  right: 5%;
}

.parrafo-OG P {
  font-size: 30px;
  padding-bottom: 40px;
}
.parrafo-OG span {
  font-family: "Gilroy-Bold", sans-serif;
}

.banner-contacto {
  background-image: url(imagenes/banner\ contacto.png);
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 0;
}
.banner-contacto h2 {
  color: #FDC504;
  font-size: 60px;
  padding-left: 10%;
  padding-top: 7%;
  font-family: "Gilroy-Bold", sans-serif;
}

.input-box {
  width: 100%;
  box-sizing: border-box;
  padding-left: 10%;
  padding-top: 80px;
  padding-bottom: 60px;
}

.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
}

.input-field label {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 30px;
}

.input {
  height: 60px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #FDC504;
  outline: none;
  margin-bottom: 80px;
  color: #40414a;
}

.input-box .input-field label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.5s;
}

.input-field .input:focus ~ label {
  top: -10px;
  font-size: 13px;
  font-family: "Gilroy-Bold", sans-serif;
}

.input-field .input:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}

.input-informacion {
  flex-direction: column;
  padding-top: 100px;
  display: block;
}

.logo-informacion img {
  width: 300px;
  padding-left: 7%;
}

.informacion li {
  width: 400px;
  list-style: none;
  color: #848484;
}

@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 40px;
    padding-bottom: 50px;
  }
  .banner img {
    width: 250px;
  }
}
@media screen and (max-width: 450px) {
  .banner img {
    width: 200px;
  }
}
@media screen and (max-width: 1240px) {
  .informacion h3 {
    font-size: 40px;
  }
  .informacion p {
    font-size: 20px;
    padding-right: 20%;
  }
  .informacion h3::after {
    height: 4px;
    top: 2rem;
  }
}
@media screen and (max-width: 993px) {
  .informacion p {
    padding-right: 20%;
    font-size: 20px;
  }
  .informacion h3::after {
    height: 4px;
    top: 2rem;
    width: 320px;
    right: -350px;
  }
}
@media screen and (max-width: 768px) {
  .informacion p {
    padding-right: 10%;
  }
  .informacion h3::after {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .banner-nosotros h2 {
    font-size: 50px;
    padding-left: 15%;
    padding-top: 20%;
  }
  .informacion h3 {
    font-size: 30px;
  }
  .informacion p {
    font-size: 15px;
    padding-right: 0;
  }
}
@media screen and (max-width: 320px) {
  .banner-productos h2 {
    font-size: 50px;
    padding-left: 10%;
    padding-top: 20%;
  }
  .card-title {
    font-size: 50px;
  }
}
@media screen and (max-width: 1350px) {
  .titulo h2::after {
    width: 620px;
    height: 4px;
    right: -650px;
  }
}
@media screen and (max-width: 992px) {
  .titulo h2::after {
    width: 420px;
    height: 3px;
    right: -450px;
  }
  .cont-texto h4 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .cont-texto p {
    font-size: 15px;
    padding-bottom: 10px;
  }
  .cont-texto h5 {
    font-size: 15px;
  }
  .vectores img {
    width: 50px;
  }
  .vectores p {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .titulo h2 {
    font-size: 50px;
  }
  .titulo h2::after {
    display: none;
  }
}
@media screen and (max-width: 337px) {
  .titulo h2::after {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .card-title3 {
    font-size: 35px;
  }
}
@media screen and (max-width: 320px) {
  .banner-proyectos h2 {
    font-size: 50px;
    padding-left: 10%;
    padding-top: 20%;
  }
  .card-title3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1202px) {
  .Obras-Generales h2::after {
    width: 320px;
    height: 4px;
    right: -350px;
  }
}
@media screen and (max-width: 994px) {
  .Obras-Generales h2 {
    font-size: 50px;
  }
  .Obras-Generales h2::after {
    width: 220px;
    height: 3px;
    right: -290px;
    top: 8rem;
  }
  .title {
    font-size: 30px;
  }
  .carousel-caption h5 {
    font-size: 10px;
  }
}
@media screen and (max-width: 769px) {
  .Obras-Generales h2::after {
    display: none;
  }
}
@media screen and (max-width: 445px) {
  .Obras-Generales h2 {
    font-size: 35px;
  }
  .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 445px) {
  .parrafo-OG p {
    font-size: 20px;
  }
}
@media screen and (max-width: 426px) {
  .formulario label {
    font-size: 20px;
  }
  .logo-informacion img {
    width: 200px;
    padding-left: 0;
  }
  .informacion {
    padding-left: 0;
  }
  .informacion li {
    width: 250px;
    font-size: 10px;
    padding-left: 0;
  }
}
@media screen and (max-width: 321px) {
  .banner-contacto h2 {
    font-size: 50px;
    padding-left: 10%;
    padding-top: 20%;
  }
}/*# sourceMappingURL=estilo.css.map */